<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Dashboard Web Application</title>

    <link href="css/site.min.css" rel="stylesheet" />

</head>
<body>
    @RenderBody()

    <script>
        function onBeforeRender(dashboardControl) {
            dashboardControl.registerExtension(new DevExpress.Dashboard.DashboardPanelExtension(dashboardControl, { dashboardThumbnail: "./DashboardThumbnail/{0}.png" }));
        }
        function reloadOnServer() {
            $.ajax({
                url: '@Url.Action("Refresh")',
                success: function (data) {
                    dashboardControl1.refresh();
                    // To refresh specific dashboard items, pass their names as parameters:
                    // WebDashboard1.GetDashboardControl().refresh( ["chartDashboardItem1", "listBoxDashboardItem1"] );
                }
            })
        }
        function reloadOnClient() {
            dashboardControl1.reloadData();
        }
    </script>
    <script src="js/site.min.js"></script>
</body>
</html>