@page

<button onclick="$.ajax({url: '@Url.Action("Refresh")'})">Reset Cache</button>

<div style="position: absolute; left: 0; top: 40px; right: 0; bottom: 0; border-top: 1px solid #cfcfcf">
    @(Html.DevExpress().Dashboard("dashboardControl1")
    .ControllerName("DefaultDashboard")
    .Width("100%")
    .Height("100%")
    .UseNeutralFilterMode(true)
    .OnBeforeRender("onBeforeRender")
    )
</div>